<html>
    <head>
        <title>Google Doc JSON</title>
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>Podcast page updater</h1>
            </div>
            <div id="content">
                <p>Push the button below once you've updated the WBEZ Podcast Page Spreadsheet.</p>
                <p>Changes will go LIVE ON THE INTERNET. Double check all of your work before hitting this button. No, really, check again. Then check again.</p>
                <form method="post" action="/">
                  <input type="submit" value="Update Podcasts"/>
                </form>
            </div>
            </div>
        </div>
    </body>
</html>